#sign_up_container{
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#sign_up_container_header{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.sign_up_container_errors{
    padding-right: 15px;
    padding-left:10px;
    margin-bottom: 5px;
    color: red;
}

#sign_up_container_form{
    padding: 5px;
    padding-left: 15px;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: center;
}

#sign_up_container_links{
    text-align: center;
    margin-top: 12px;
}

.sign_up_form_fields{
    text-align: center;
    border-radius: 30px;
    margin: 5px !important;
}

.sign_up_success_secondary {
    margin-top: 16px;
    padding-top: 16px;
}

.sign_up_success_container {
    color: green;
}